.u-text-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: antiquewhite;
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  border-radius: 500px;
  margin-left: 3px;
  --ion-1: #f49daf;
  --ion-2: #ff6565;
  --ion-3: #9e3a3a;
  --ion-4: #4854e0;
  --ion-5: #777a9c;
  --ion-6: #d397de;
  --ion-7: #ad8df7;
  --ion-8: #81b2f7;
  --ion-9: #54e3ff;
  --ion-10: #eed57b;
  --ion-11: #ff2b2b;
  --ion-12: #cae6ba;
  --ion-13: #4da5ee;
  --ion-14: #85e278;
  --ion-15: #fca174;
  --ion-16: #be5d1d;
  --ion-17: #fff475;
  --ion-18: #47778d;
  --ion-19: #5eebb7;
  --ion-20: #9f3eac;
}
