<ion-header class="ion-no-margin">
  <ion-toolbar color="primary">
    <ion-icon
      name="document-text-outline"
      size="large"
      slot="start"
      style="
        width: 24px !important;
        height: 24px !important;
        margin-right: 5px;
        margin-left: 5px;
      "
    ></ion-icon>
    <ion-label slot="start" color="light"> <p>{{txt}} Task</p></ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content class="ion-no-padding ion-no-margin ion-text-center">
  <form [formGroup]="form">
    <ion-grid style="height: auto;margin:auto ;width: auto;">
      <ion-row>
        <ion-col
          size-xs="12"
          size-sm="12"
          size-med="10"
          offset-med="1"
          size-lg="8"
          offset-lg="2"
          size-xlg="6"
          offset-xlg="3"
        >
          <ion-card   class="ion-no-padding ion-no-margin ion-text-center">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Task Title</ion-label
                  >
                  <ion-input
                    type="text"
                    autocomplete
                    autocorrect
                    formControlName="title"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Task Date</ion-label
                  >
                  <ion-datetime
                    type="text"
                    autocomplete
                    autocorrect
                    formControlName="taskdate"
                  >
                  </ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Progres(0~100)</ion-label
                  >
                  <ion-input
                    type="number"
                    inputmode="numeric"
                    min="0"
                    step="1"
                    max="100"
                    autocomplete
                    autocorrect
                    formControlName="progress"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Task Details</ion-label
                  >
                  <ion-textarea
                    rows="10"
                    cols="20"
                    autocomplete
                    autocorrect
                    formControlName="description"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button
                  class="primary"
                  expand="block"
                  style="
                    margin-left: 20%;
                    margin-right: 20%;
                    text-align: center !important;
                  "
                  (click)="saveSubTask()"
                  >Save</ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col
                *ngIf="!form.valid"
                #divMsg
                style="display: none;"
                class="ion-no-padding ion-margin-top ion-margin-horizontal"
              >
                <ion-chip
                  color="danger"
                  class="ion-justify-content-center"
                  style="width: 98%;"
                >
                  <ion-label>Please fill all required fileds</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
