<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users-progress">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label mode="md" style="font-size: smaller; font-stretch: condensed;" >Users Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="submit-my-progress">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label mode="md" style="font-size: smaller;font-stretch: condensed;"  >Update My Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-tasklist">
      <ion-icon name="share-outline"></ion-icon>
      <ion-label mode="md" style="font-size: smaller;font-stretch: condensed;"  >Submit My Progress</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
