<ion-content>
  <ion-tabs>
    <ion-tab-bar #tasktracker id="tasktracker" tabs="tasktracker">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label
          mode="md"
          style="font-size: smaller; font-stretch: condensed;"
          >Home</ion-label
        >
      </ion-tab-button>

      <ion-tab-button tab="mytasks">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label
          mode="md"
          style="font-size: smaller; font-stretch: condensed;"
          >My Tasks</ion-label
        >
      </ion-tab-button>
      <ion-tab-button tab="teamprogress">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label
          mode="md"
          style="font-size: smaller; font-stretch: condensed;"
          >Team Progress</ion-label
        >
      </ion-tab-button>

      <ion-tab-button tab="reports">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label
          mode="md"
          style="font-size: smaller; font-stretch: condensed;"
          >Reports</ion-label
        >
      </ion-tab-button>
      
      <ion-tab-button tab="group-chat">
        <ion-icon   src="../assets/images/chat-group.svg"></ion-icon>
        <ion-label
          mode="md"
          style="font-size: smaller; font-stretch: condensed;"
          >Chat</ion-label
        >
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
