<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    
 
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="people-outline" size="large"></ion-icon>
      <ion-title size="medium"  style="text-align: left; padding-left: 40px;">Users Progress</ion-title>
      
    </ion-toolbar>
    <ion-searchbar showCancelButton="focus"  value=" " placeholder="Filter users"></ion-searchbar>
    
  </ion-header>
  
  <app-users-progress  ></app-users-progress>
 
</ion-content>
