<!-- <ion-header  >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small" color="primary" class="ion-text-center"
      ><h4>Create Task</h4></ion-title
    >
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-margin">
  <ion-toolbar color="primary">
    <ion-icon
      name="document-text-outline"
      size="large"
      slot="start"
      style="
        width: 24px !important;
        height: 24px !important;
        margin-right: 5px;
        margin-left: 5px;
      "
    ></ion-icon>
    <ion-label slot="start" color="light"> <p>Create Task</p></ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center" [fullscreen]="true">
  <form (ngSubmit)="onCreateTask()" #f="ngForm">
    <ion-grid style="height: auto;">
      <ion-row>
        <ion-col
          size-xs="12"
          size-sm="12"
          size-med="10"
          offset-med="1"
          size-lg="8"
          offset-lg="2"
          size-xlg="6"
          offset-xlg="3"
        >
          <ion-card >
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Task Title <ion-text class="danger">*</ion-text></ion-label
                  >
                  <ion-input
                    type="text"
                    autocomplete
                    autocorrect
                    ngModel
                    name="title"
                    required
                    #title="ngModel"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="medium" position="floating"
                    >Task Details <ion-text class="danger"> *</ion-text>
                  </ion-label>
                  <ion-textarea
                    rows="10"
                    cols="20"
                    autocomplete
                    autocorrect
                    name="description"
                    ngModel
                    required
                    #description="ngModel"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button
                  class="primary ion-text-capitalize"
                  expand="block"
                  type="submit"
                  style="
                    margin-left: 20%;
                    margin-right: 20%;
                    text-align: center !important;
                  "
                  [disabled]="!f.valid"
                  >Create</ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-chip  
                  *ngIf="!f.valid&&f.touched"
                  color="danger"
                  class="ion-justify-content-center "
                  style="width: 98%; padding:5px;display:ruby-text-container "
                >
                  <ion-label class="help-block">
                    <p *ngIf="title.invalid">Please enter the title</p>
                    <p *ngIf="description.invalid">
                      Please enter the description
                    </p></ion-label
                  >
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
