<ion-content>
  <ion-grid>
    <ion-row class="">
      <ion-col
        size-xs="12"
        size-sm="12"
        size-med="4"
        size-lg="4"
        size-xlg="4"
        offset-med="4"
        offset-lg="4"
        offset-xlg="4"
      >
        <ion-card>
          <ion-label
            [routerLink]
            (click)="back()"
            style="float: right !important;"
          >
            <ion-icon
              size="small"
              slot="end"
              name="close-sharp"
              text=""
            ></ion-icon>
          </ion-label>
          <ion-row class="ion-justify-content-center">
            <ion-col
              size="auto"
              style="text-align: center !important;"
              style="height: 80px;"
            >
              <ion-avatar name="avatar" class="ion-no-padding ion-margin">
                <img src="../assets/images/avatar.svg" />
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">
                  Email <ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  type="email"
                  required
                  #txtemail
                  id="txtemail"
                  [(ngModel)]="email"
                  style="font-size: small;"
                ></ion-input
              ></ion-item>
              <ion-item>
                <ion-label
                  position="floating"
                  color="medium"
                  aria-setsize="small"
                  >Password <ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  type="password"
                  #txtpass
                  id="txtpass"
                  [(ngModel)]="pass"
                  required
                ></ion-input
              ></ion-item>
              <ion-item>
                <ion-checkbox color="primary" position="fixed"></ion-checkbox>
                <ion-label color="primary" mode="md" style="padding-left: 4px;"
                  ><h3>Remember My Credentials</h3>
                </ion-label>
              </ion-item>
              <div
                class="ion-padding ion-no-margin"
                style="text-align: center !important; height: 100px;"
              >
                <div style="height: 8px; text-align: center !important;">
                  <ion-spinner
                    style="position: relative;"
                    *ngIf="loading"
                    name="dots"
                  ></ion-spinner>
                </div>

                <ion-button
                  [disabled]=" loading "
                  expand="block"
                  type="button"
                  (click)="signIn()"
                  class="ion-margin"
                  >login</ion-button
                >
              </div>
              <div
                *ngIf="message"
                class="ion-no-padding ion-margin-bottom ion-margin-horizontal"
              >
                <ion-chip
                  [color]="
                messageType == 1
                  ? 'success'
                  : messageType == 2
                  ? 'warning'
                  : 'danger'
              "
                  class="ion-justify-content-center"
                  style="width: 98%;"
                >
                  <ion-label> {{message}}</ion-label>
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
