<ion-app>
  <app-header></app-header>
  <ion-content>
    <ion-menu content-id="menu" side="start" menuId="main-menu" type="overlay">
      <!-- <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list>
          <ion-item detail="false" [routerLink]="!getIsLogged()?'/':'/tasktracker/users-progress' " (click)="closeMenu()">
            <ion-label id="lblHome">
              <ion-icon name="home"></ion-icon>

              Home
            </ion-label>
          </ion-item>
          <ion-item
            detail="false"
            routerLink="tasktracker/reports"
            (click)="closeMenu()"
          >
            <ion-label id="lblReports">
              <ion-icon name="bar-chart-outline"></ion-icon>

              Reports
            </ion-label>
          </ion-item>
          <ion-item (click)="logout()" *ngIf="getIsLogged()">
            <ion-label id="lbllogout">
              <ion-icon name="lock-closed-outline"></ion-icon>

              logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet
      id="menu"
      style="text-align: center; padding: 0px; margin: 0px;"
    >
    </ion-router-outlet
  ></ion-content>
</ion-app>
