<ion-app>
  <app-header></app-header>
  <ion-content>
    <ion-menu content-id="menu" side="start" menuId="main-menu" type="overlay">
      <!-- <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list>
          <!-- <ion-item
            detail="false"
            [routerLink]="auth.isLoggedIn() ? 'tasktracker' : '/'"
            (click)="closeMenu()"
          >
            <ion-label id="lblHome">
              <ion-icon name="home"></ion-icon>
              Home
            </ion-label>
          </ion-item> -->
          <ion-item-divider
            style="background-color: transparent;"
            class="ion-no-margin ion-no-padding"
          >
            <ion-grid>
              <ion-row class="ion-justify-content-left">
                <ion-col
                  size="auto"
                  style="text-align: center !important;"
                  style="height: 80px;"
                >
                  <ion-avatar name="avatar" class="ion-no-padding ion-margin">
                    <img src="../assets/images/avatar.svg" />
                  </ion-avatar>
                </ion-col> </ion-row
              ><ion-note *ngIf="Email"
                class="ion-text-left"
                color="secondary"
                class="ion-margin-start"
                style="font-size: smaller; font-weight: lighter;"
                >{{ Email }}</ion-note
              >
            </ion-grid>
          </ion-item-divider>
          <ion-item>
            <ion-label id="lbltheme">
              <ion-icon   
                name="shirt-outline"
                style="width: 18px; height: 20px;"
                slot="start"
              ></ion-icon>
              Theme
            </ion-label>
            <ion-toggle
              style="max-height: 21px;"
              (ionChange)="changeTheme($event)"
              size="small"
              slot="end"
              class="ion-float-right"
            
            >
            </ion-toggle>
          </ion-item>
          <ion-item
            detail="false"
            [routerLink]="auth.isLoggedIn() ? '/tasktracker/home' : 'index'"
            (click)="closeMenu()"
          >
            <ion-label id="lblHome">
              <ion-icon name="home"></ion-icon>
              Home
            </ion-label>
          </ion-item>

          <ion-item
            [routerLink]
            detail="false"
            *ngIf="getIsLogged()"
            (click)="openNewTaskModal()"
          >
            <ion-label id="lblnewtask">
              <ion-icon name="add-outline"></ion-icon>
              New Task
            </ion-label>
          </ion-item>
          <ion-item
            detail="false"
            [routerLink]="['tasktracker/mytasks']"
            (click)="closeMenu()"
            *ngIf="getIsLogged()"
          >
            <ion-label id="lblmytasks">
              <ion-icon name="document-text-outline"></ion-icon>
              My Tasks
            </ion-label>
          </ion-item>
          <ion-item
            detail="false"
            [routerLink]="['tasktracker/teamprogress']"
            (click)="closeMenu()"
          >
            <ion-label id="lblusers-progress">
              <ion-icon name="people-outline"></ion-icon>
              Team Progress
            </ion-label>
          </ion-item>
          <ion-item
          detail="false"
          [routerLink]="['tasktracker/group-chat']"
          (click)="closeMenu()"
        >
          <ion-label id="lblgroupChat">
            <ion-icon   src="../assets/images/chat-group.svg" ></ion-icon>
             Chatting
          </ion-label>
        </ion-item>
          <ion-item
            detail="false"
            routerLink="tasktracker/reports"
            (click)="closeMenu()"
          >
            <ion-label id="lblReports">
              <ion-icon name="bar-chart-outline"></ion-icon>
              Reports
            </ion-label>
          </ion-item>
          <ion-item
            detail="false"
            [routerLink]
            (click)="openWebSiteApp(); closeMenu()"
          >
            <ion-label id="lblweb">
              <ion-icon name="globe-outline"></ion-icon>
              WebSite
            </ion-label>
          </ion-item>

          <ion-item
            detail="false"
            [routerLink]
            (click)="logout()"
            *ngIf="getIsLogged()"
          >
            <ion-label id="lbllogout">
              <ion-icon name="lock-closed-outline"></ion-icon>
              logout
            </ion-label>
          </ion-item>
          <ion-item
            detail="false"
            [routerLink]="['login']"
            (click)="closeMenu()"
            *ngIf="!getIsLogged()"
          >
            <ion-label id="lblSignIn">
              <ion-icon name="lock-open-outline"></ion-icon> SignIn
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet
      id="menu"
      style="text-align: center; padding: 0px; margin: 0px;"
    >
    </ion-router-outlet
  ></ion-content>
</ion-app>
