:root {
    .dark-theme
    {
        --ion-color-primary: #f4f5f8;
        --ion-color-primary-rgb: 244,245,248;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0,0,0;
        --ion-color-primary-shade: #d7d8da;
        --ion-color-primary-tint: #f5f6f9;
    
       
 
    
       
    }
}