<ion-content>
  <ion-grid no-padding ion-no-margin>
    <ion-row>
      <ion-col size="12" size-lg="6" offset-med="3" offset-lg="3">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-buttons slot="start"  >
                <ion-back-button
                  text=""
           
                  defaultHref="/users-progress"
                ></ion-back-button>
              </ion-buttons>

              <ion-label slot="" color="primary">
                <b> {{user.userName}}</b>
              </ion-label>
              <ion-avatar slot="start" name="avatar">
                <img src="../assets/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </ion-col> </ion-row
        ><ion-row>
          <ion-col size="auto">
            <ion-chip outline color="primary">
              <ion-label> Tasks <b>({{userProgress.length}}) </b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto"  >
            <ion-chip outline color="warning"  >
              <ion-label>
                In-Progress <b>({{getTotalInProgress()}}) </b>
              </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto">
            <ion-chip outline color="success">
              <ion-label> Done <b>({{getTotalCompleted()}}) </b> </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-row
            *ngFor="let item of userProgress; let i = index"
            style="justify-items: left;"
          >
            <ion-col>
              <ion-item>
                <ion-label
                  class="ion-text-start ion-text-capitalize ion-text-wrap"
                >
                  <h3><b> {{i+1}}- </b>{{ item.taskName }}</h3>
                </ion-label>

                <ion-badge
                  [color]="
                      item.progress > 99
                        ? 'success'
                        : item.progress < 50
                        ? 'warning'
                        : 'primary'
                    "
                >
                  {{ item.progress }}%
                </ion-badge>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
