<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="loadedTask.taskName" (focusout)="updateTask()" class="ion-padding">Task Name: </ion-input>
  <br>
  <ion-input [(ngModel)]="loadedTask.progress" (focusout)="updateTask()" class="ion-padding">Task Progress: </ion-input>
  <br>
  <ion-textarea [(ngModel)]="loadedTask.taskDesc" (focusout)="updateTask()" class="ion-padding">Description</ion-textarea>
  <ion-button color="danger" (click)="deleteTask()">Remove</ion-button>
</ion-content>
