<!--  
<ion-header class="ion-no-margin">
  <ion-toolbar>
    <ion-icon
      name="bar-chart-outline"
      color="primary"
      size="large"
      slot="start"
      style="width: 24px !important;height: 24px !important;margin-right: 5px;margin-left: 5px;"
    ></ion-icon>
    <ion-label slot="start" color="primary"><p> Reports</p> </ion-label>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" class="ion-no-margin;no-padding">
</ion-content> -->

<ion-header class="ion-no-margin">
  <ion-toolbar>
    <ion-icon
      name="podium-outline"
      color="primary"
      size="large"
      slot="start"
      style="
        width: 22px !important;
        height: 22px !important;
        margin-right: 5px;
        margin-left: 5px;
      "
    ></ion-icon>
    <ion-label slot="start" color="primary"><p>Reports</p> </ion-label>
 

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding ion-no-margin>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" offset-med="3" offset-lg="3">
        <ion-row style="justify-items: left;">
          <ion-col>
            <ion-list>
              <ion-item detail="true" routerLink="./1" >
             

                <ion-thumbnail slot="start">
                  <ion-img  src ="../assets/images/color-pie-chart.svg"></ion-img>
                </ion-thumbnail>

                <ion-label color="primary" position="fixed"
                  class="ion-text-start ion-text-capitalize ion-text-wrap"
                >
                  <p>Users Progress Pie-Chart</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
