<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    
 
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header class="ion-no-margin">
  <ion-toolbar>
    <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
    <ion-title slot="start"  mode="md" position="fixed">Users Progress</ion-title>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus"  value=" " placeholder="Filter users"></ion-searchbar> 
</ion-header> -->
<ion-header class="ion-no-margin">
  <ion-toolbar>
 
    <ion-icon name="people-outline"  color="primary"    size="large" slot="start"></ion-icon> 
    <ion-label slot="start"   color="primary"   >Team Progress </ion-label>

  </ion-toolbar>
</ion-header>
<ion-content >
  <app-users-progress></app-users-progress>
</ion-content>
