<ion-header class="ion-no-margin">
  <ion-toolbar>
    <ion-segment color="secondary" (ionChange)="0" #checkTeam value="calendar">
      <ion-segment-button size="small" value="calendar" layout="icon-start">
        <ion-label position="float">Today Tasks</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button size="small" value="team" layout="icon-start">
        <ion-label position="float">Team Progress</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    class="ion-no-margin ; no-padding"
    style="
      height: 0px;
      text-align: center !important;
      position: relative;
      z-index: 1;
    "
  >
    <ion-refresher
      #refTeamProgress
      id="refTeamProgress"
      style="position: relative; z-index: 2; top: 0px"
      slot="fixed"
      (ionRefresh)="doRefresh($event)"
    >
      <ion-refresher-content color="primary" refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <ion-grid *ngIf=' checkTeam.value=="team" '>
    <ion-row class="ion-no-margin ; no-padding">
      <ion-col size-med="6" size-lg="6" offset-med="3" offset-lg="3">
        <!-- <div
          style="
            height: 0px;
            text-align: center !important;
            position: relative;
            z-index: 1;
          "
          *ngIf="isLoaded"
        >
          <ion-spinner
            style="position: relative; z-index: 2; top: 0px;"
            name="crescent"
          ></ion-spinner>
        </div> -->

        <ion-list
          *ngFor="let item of userProgress; let i = index"
          [(ngModel)]="userProgress"
          ngDefaultControl
          name="lstTaskProgress"
        >
          <ion-row style="justify-items: left">
            <ion-col>
              <ion-item [routerLink]="['./', item.userId]" detail="true">
                <ion-avatar slot="start" name="avatar">
                  <!-- <img src="../assets/images/avatar.svg" /> -->
                  <text-avatar text="{{item.userName}}"></text-avatar>
                </ion-avatar>
                <ion-label class="ion-text-start ion-text-capitalize">
                  <ion-label color="primary" mode="ios" position="stacked">
                    <b>{{ item.userName }}</b></ion-label
                  >

                  <ion-label mode="ios" position="stacked">
                    Total Tasks <b>({{ item.totaltasks }}) </b>
                  </ion-label>
                  <ion-label mode="ios" position="stacked">
                    <ion-badge
                      style="margin: 0px"
                      [color]="
                        item.avgProgress > 99
                          ? 'success'
                          : item.avgProgress < 50
                          ? 'warning'
                          : 'primary'
                      "
                    >
                      {{ item.avgProgress }}%
                    </ion-badge>
                  </ion-label>
                </ion-label>
              </ion-item>
            </ion-col>

            <!-- <ion-col size="auto">
              <ion-icon
                [routerLink]="['/tasktracker','chat',user? user.email:'',user? user.userId:'']"
                color="primary"
                name="chatbox-ellipses-outline"
                style="
                  flex: left;
                  margin-top: 10px;
                  margin-left: 5px;
                  margin-right: 5px;
                  width: 20px;
                  height: 20px;
                "
                class="ion-text-start"
              ></ion-icon>
            </ion-col> -->
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-today-tasks *ngIf='checkTeam.value =="calendar"'></app-today-tasks>
  <ion-fab
    *ngIf="auth.isLoggedIn()"
    (click)="openNewTaskModal()"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
